/* App.css */
.App {
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}
/* Styles for the table */
table {
  width: 100%; /* Make the table full width */
  margin-top: 20px;
  border-collapse: collapse; /* Ensures that the border is collapsed into a single border */
}
th, td {
  text-align: left;
  padding: 8px; /* Adjust padding to ensure content is not too cramped */
  border: 1px solid #ddd; /* Light grey border for the cells */
  border-bottom: 2px solid #ccc; /* Slightly darker border for the bottom to distinguish header */
}
thead th {
  background-color: #f0f0f0; /* Light grey background for headers */
  font-weight: bold; /* Make the header fonts bold */
}
tbody td {
  background-color: #ffffff; /* White background for table cells */
}
.App-header {
  background-color: #282c34; /* Dark header background */
  padding: 20px;
  color: white;
}

.App-logo {
  height: 80px;
  margin-bottom: 20px;
}