/* App.css */

.App {
  font-family: 'Arial', sans-serif;
}

.sub-app {
  text-align: center;
  padding: 20px;
}

.App-header {
  align-items: center;
  display: flex;
  background: linear-gradient(180deg, rgba(71, 215, 172, 0.36) 0%, rgba(196, 200, 209, 0.24) 100%);
  padding: 6px;
  position: relative;
  font: bold;
  font-size: 20px;
  box-shadow: 0 0 10px 5px rgba(6, 4, 31, 0.1);
  justify-content: space-between;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

.dashboard-label {
  margin-left: 10px;
  /* Adjust as needed */
  font-size: 20px;
  /* Adjust as needed */
  /* If you want to ensure it doesn't grow with flexbox, you might add */
  flex-shrink: 0;
}

.graph-button-container {
  margin-left: auto;
}

.settings-icon {
  background: none;
  border: none;
  cursor: pointer;
  /* To ensure the button does not have margins */
  margin: 0;
  padding: 0;
}

.n-icon {
  height: 50px;
  margin-right: 10px;
  position: relative;
}

.App-logo {
  height: 80px;
  margin-bottom: 20px;
}

h1 {
  color: #61dafb;
}

/* .data-and-note-container {
 
} */



.color-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  font-size: 11px;
  border-radius: 50%;
  margin-right: 10px;
}


.penaltyProtection {
  font-family: 'Equip Extended', sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin: 5px 0px 15px 0px;
  text-align: left;
  color: #06041F;
}

.myButton {
  background: #106BA3;
  border-radius: 8px;
}

.tableHeader {
  color: rgba(196, 200, 209, 0.17)
}

tr {
  border: 2px solid white;
}

.color-code-note {
  text-align: left;
  font-size: 12px;
  padding-left: 0;
  margin-top: 0;
  font-family: 'Equip Extended', sans-serif;
}

.tableRow {
  font-family: 'Equip Extended', sans-serif;
  font-weight: 500;
  letter-spacing: 2%;
  min-width: 120px;
}

.controls button,
.controls select {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(196, 200, 209, 0.25);
  height: 35px;
}

.controls button:last-child {
  margin-right: 10px;
}

.prev-button,
.graph-icon,
.next-button {
  margin-right: 10px;
}

.graph-icon img {
  width: 21px;
  height: 21px;
}


.right-button {
  margin-top: 10px;
  float: right;
}

.graph-icon {
  display: block;
  width: auto;
  height: 100%;
  padding: 6px;
  margin-right:0;
  background-color: rgba(71, 215, 172, 1) !important;

}

.navigation-buttons {
  display: flex;
  justify-content: space-between; 
  padding: 0 5px; 
  margin-top: 10px; 
}
.navigation-buttons .prev-button,
.navigation-buttons .next-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(196, 200, 209, 0.25);
  
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.kpi-column {
  width: 30%;
}

.settings-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;

}

.settings-icon img {
  width: 30px;
}

.settings-container {
  margin-right: 15px;
}
.graph-button-container {
  display: flex;
  align-items: center; /* This will vertically align buttons if they have different heights */
  justify-content: flex-end; /* This will align the buttons to the right */
  flex-grow: 1;
}

.data-container table th,
.data-container table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .left-section{
} */


.controls button {
  padding: 6px;
  background-color: rgba(196, 200, 209, 0.25);
}

.custom-x-axis {
  font-weight: bold; 
  color: #333;
}
.controls {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom:25px;
}
.controls .graph-icon {
  margin-left: auto; 
}

.target {
  color: #8ad2bd;
  font-weight: bold;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 5px auto;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px;
}

thead th {
  background-color: rgba(196, 200, 209, 0.17);
  color: #333;
}

tbody td {
  background-color: rgba(196, 200, 209, 0.17);
}

.percentage-red {
  color: #EF4A5F;
}

.percentage-orange {
  color: #F09D2E;
}

.percentage-green {
  color: #2F9E44;
}

/* Responsive design */
@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: center;
  }

  table {
    width: 100%;
  }
}
.sla-details-container {
  display: flex;
  justify-content: space-around;
}

.sla-detail {
  display: flex;
  align-items: center;
}

.sla-color-box {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
}

.sla-color-box.resolution {
  background: rgb(136, 132, 216); 
}

.sla-color-box.response {
  background: rgb(130, 202, 157); 
}

